[Unit]
Description=NNext Server - A blazingly fast️ Nearest Neighbor vector search engine.
Documentation=https://nnext.io/docs
Requires=network.target remote-fs.target
After=network.target remote-fs.target

[Service]
ExecStart=/usr/bin/nnext-server --config=/etc/nnext/config.yaml
PIDFile=/run/nnext/nnext-server.pid
TimeoutStopSec=0
Restart=always
User=nnext
Group=nnext
RuntimeDirectory=nnext
RuntimeDirectoryMode=2755
Restart=on-failure
LimitNOFILE=64000
LimitMEMLOCK=infinity

UMask=007
PrivateTmp=yes
LimitNOFILE=65535
PrivateDevices=yes
ProtectHome=yes
ReadOnlyPaths=/
ReadWritePaths=-/var/lib/nnext
ReadWritePaths=-/var/log/nnext
ReadWritePaths=-/var/run/nnext

#NoNewPrivileges=true
#CapabilityBoundingSet=CAP_SETGID CAP_SETUID CAP_SYS_RESOURCE
#MemoryDenyWriteExecute=true
#ProtectKernelModules=true
#ProtectKernelTunables=true
#ProtectControlGroups=true
#RestrictRealtime=true
#RestrictNamespaces=true
#RestrictAddressFamilies=AF_INET AF_INET6 AF_UNIX

# nnext-server can write to its own config file when in cluster mode so we
# permit writing there by default. If you are not using this feature, it is
# recommended that you replace the following lines with "ProtectSystem=full".
ProtectSystem=true
ReadWritePaths=-/etc/nnext

[Install]
WantedBy=multi-user.target
Alias=nnext.service
